table {
  width: 100%;
}

.add{
text-align: start;
margin-right: 10px;
}

.add-div{
float: right;
}


/* buttons */

.mat-column-FullName, .mat-column-DateofBirth, .mat-column-IDCopy, .mat-column-Actions, .mat-column-GPA  {
  width: 50px;
  text-align: center;
}

.headerrow{
  background-color: #f6f7fb;
  text-transform: uppercase;
}
.mat-elevation-z8{
  box-shadow: none;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
 /* icons */
 .material-icons.md-18 {
  font-size: 18px;
  color: #85ABAD;
}
.material-icons {
  font-size: 24px;
  color: #85ABAD;
}

.material-icons:hover{
  color: #9bd1d4;
  cursor:default;
}
.deleteicon{
  margin-left: 17px;
}

.material-icons {
  vertical-align: middle;
}

.leftright{
  margin-right: 5px;
}

.searchBar {
  width: 300px;
  padding: 7px 24px;
  resize: none;
  outline: none;
  margin-bottom: 14px;
  margin-left: 800px;
  background-color: transparent;
  font-size: 14px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #d3d3d094;
}
.example-card {
  margin: 20px auto;
  width: 90%;
  height: auto;
}
.contain {
  margin: 40px auto;
}
.title {
  color: #85ABAD;
  font-weight: 550;
  font-size:x-large;
  margin-left: 15px;
}
.comp {
  margin-top: 30px;
  margin-left: 25px;
}

.headsettings {
  font-weight: 550;
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
  background-color: #ecc1c3;
}
.appName{
  color: #ffffff;
}
.titlediv{
  width: 100%;
  text-align: center;
}
